.Burger{
  width:100%;
  margin:auto;
  height:250px;
  overflow:scroll;
  text-align: center;
  font-size: 1.2 rem;
  font-weight: bold;
}
@media (min-width:1000px) and (min-height:401px){
  .Burger{
    width:400px;
    height:450px;
  }
}
